.details-box {
  border-top: var(--border);
  border-bottom: var(--border);
  margin-top: 42px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 320px;

  &__section {
    padding: 16px 0;
    &:first-child {
      text-align: left;
    }
    &:last-child {
      text-align: right;
    }
    &-header {
      &:first-child {
        font-weight: bold;
      }
    }
  }
}
