.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-transform: uppercase;
  margin: var(--margin) 0;
  &__email {
    font-size: var(--font-size-page-title);
    color: inherit;
    margin-bottom: var(--margin-small);
    &:visited {
      color: inherit;
    }
  }
  &__container {
    &-text {
      &:first-of-type {
        margin-bottom: 6px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .contact {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: calc(var(--margin) * 2);

    &__email {
      font-size: 4rem;
      margin: 0;
    }
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    &__email {
      font-size: 5rem;
    }
  }
}
