.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px;
  padding-top: 48px;

  border-bottom: var(--border);

  &__logo {
    font-size: var(--font-size-general);
    font-weight: 500;
    text-transform: uppercase;
  }

  &__nav {
    display: flex;
    gap: 60px;
    &-item {
      list-style-type: none;
      text-transform: uppercase;
      font-weight: 500;
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__menu-button {
    &:hover {
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding: 25px 75px;
  }
}
